/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

.logo-image {
    display: flex;
    justify-content: flex-start;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.redirection{

   color:black;
    display: flex;
    justify-items: flex-end;
    gap: 32px;
}

.hebergements-header:hover{

    color:#0065FC;
    border-color:#0065FC;
    border-top: solid 2px;
}

.activite-header:hover{

    color:#0065FC;
    border-color:#0065FC;
    border-top: solid 2px;
}

.recherche-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:  #F2F2F2;
    border-radius: 20px;
}


.recherche-button i.fa-solid.fa-location-dot{
    display: flex;
    padding: 20px;
    font-size: 22px;
}

.recherche-button input{
    height: 55px;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 700;
    border: none;
}

.btn-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    height: 60px;
    border-radius: 0px 20px 20px 0px;
    border-left : none;
    border-color: #0065FC;
}

.filtres{
    display: flex;
    flex-direction: row;
    border: red solid;
    align-items: center;
}

.filtres h3{
    padding-right: 10px;
}

.filtres button{
    display: flex;
    align-items: center;
    background-color: white;
    border-color: #F2F2F2;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    height: 40px;
    padding: 20px;
    margin: 10px;
}
.filtres button span{
    padding:10px;
}

.infos{
    padding:10px;
    font-size: 15px;
    font-weight: 400;
}
.infos i {
    display: inline-flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #D9D9D9 ;
    font-size: 10px;
    min-width: 10px;
    padding: 0.7%;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.marseille{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 5px;
    width: 33%;
    flex-direction: row;
    justify-content: space-between;
    border: red solid;
    box-sizing:border-box;

}

.marseille img{
    display:flex;
    object-fit:cover;
    overflow: hidden;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.carte-texte{
    display: flex;
    flex-direction: column;
}

.card-subtitle{
    display: flex;
    margin: 0;
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display:flex;
    border: solid red;
    width: 65%;
    flex-direction: column;
    gap: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

footer{
    height: 10%;
    display: flex;
    justify-content: space-around;

}

.footer-ligne{
    display: flex;
    flex-direction: column;
}

footer a {
    display: flex;
    padding: 5px;
    font-size: 15px;
}

footer h6{
    font-size: 16px;
    margin-bottom: 10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}