/****** General ***********/
* 
{
    font-family: 'Raleway', sans-serif;
}

html{
    overflow-x: hidden;
}


button {
    cursor: pointer;
}

header h1 {
    display: flex;
}

.logo-image {
    display: flex;
    justify-content: flex-start;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    align-items: center;
    gap: 32px;
    height: 100%;
}

header nav a {
  padding: 30px 0;
  border-top: 2px solid transparent;
}

header nav a:hover{
    color:#0065FC;
    border-color:#0065FC;
    border-top: 2px solid #0065FC;
}

.accroche-page h2{
    margin-bottom: 4px;
}

.accroche-page p{
    margin-top: 4px;
    margin-bottom: 35px;
}



.recherche-button{
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 35px;
    width: 100%;
}

.recherche-button i.fa-solid.fa-location-dot{
    display: flex;
    padding: 17px;
    font-size: 22px;
    background-color:  #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}

.recherche-button input{
    height: 49px;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 700;
    border: 3px #F2F2F2 solid;
    border-left: none;
    border-right: none;
}

.btn-recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white;
    font-size: 18px;
    height: 57px;
    border-radius: 0px 20px 20px 0px;
    border-left : none;
    border: 3px #0065FC
}

.filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtres h3{
    padding-right: 10px;
}

.filtres button{
    display: flex;
    align-items: center;
    background-color: white;
    border: 3px solid #F2F2F2;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    height: 40px;
    padding: 20px;
    margin: 10px;
}

.filtres button:hover{
    background-color: #DEEBFF;
}

.filtres button i {
  color: #0065FC;
}

.filtres button span{
    padding:10px;
}

.infos{
    padding:10px;
    font-size: 15px;
    font-weight: 400;
}
.infos i {
    display: inline-flex;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #D9D9D9 ;
    font-size: 10px;
    min-width: 10px;
    padding: 0.5%;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

h1, h3 {
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.hebergements-and-populaires .hebergements .hebergement-marseille {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-and-populaires .hebergements .hebergement-marseille:hover{
    cursor: pointer;
}

.hebergements h2{
    margin-top:0px
}

.marseille{
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
    box-sizing:border-box;
    height: 210px;
    margin: 10px;

}

.marseille img{
    display:flex;
    object-fit:cover;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    height: 125px;
    width: 100%;
    box-sizing: border-box;

}


.carte-texte{
    display: flex;
    flex-direction: column;
}

.card-subtitle{
    margin: 0;
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.btnmore{
    display: flex;
    margin: 15px;
}

.activitymarseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.activitymarseille h3{
    padding:10px;
}
.activity{
    display: flex;
    justify-content: space-between;
}

.activity:hover{
    cursor: pointer;
}

.cardactivitemarseille{
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    padding: 10px;

}

.activity img{
    display:flex;
    object-fit:cover;
    overflow: hidden;
    height: 450px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
}
.cardconteiner{
    display: flex;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    border:#F2F2F2 1px solid;
    border-top: none;
    box-shadow: #F2F2F2 5px 10px 10px;
    width: 100%;
}

.cardtxt{
    display: flex;
    padding: 20px;
    width: 300px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;

}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    background-color: var(--main-bg-color);
    display:flex;
    width: 65%;
    flex-direction: column;
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

footer{
  height: 10%;
  display: flex;
  background-color: #F2F2F2;
  justify-content: space-between;
  padding-right: 20%;
}

.footer-ligne{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer a {
    display: flex;
    padding: 5px;
    font-size: 15px;
}

footer h4{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

  .filtres {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    
    }

    .hebergements {
        width: 100%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .hebergement-marseille{
        justify-content: space-evenly;
    }

    .hebergements h2{
        margin-top: 0px;
    }

    .marseille{
        margin: 0px;
        margin-bottom: 30px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-title{
        margin: 10px;
        margin-bottom: 0px;
    }

    .populaires-cards .card{
        margin-top: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
   
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .cardactivitemarseille img{
        height: 200px ;
    }

    .activitymarseille{
        margin-left:20px;
    }

    .footer-ligne h6{
        margin: 20px;
        margin-bottom: 5px;
        margin-left: 5px;
    } 





}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {



    .main-container{
        padding: 0;
    }

    .main-container header{
        flex-direction: column;
        height: 2.8%;
        padding-bottom: 50px;
    }

    .logo-image{
        height: 120%;
        
    }

    header{
        align-items: normal;
    }

    header h1{
        display: flex;
        justify-content: space-around;

    }


    header nav{
        justify-content: space-around;
        gap:0px;
    }

    header nav a{
        display: flex;
        font-size: 19px;
        padding: 20px;
        width: 100%;
        justify-content: space-around;
        border-bottom: #D9D9D9 2px solid;
    }

    header nav a:hover{
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    

    .loupe {
      display: block !important;
      background-color: #0065FC;
      color: white;
      font-size: 18px;
      height: 61px;
      width: 61px;
      border-radius: 20px;
      border-left : none;
      border: 3px #0065FC;
      margin: -15px;
      box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.07);
      position:relative;
      right: 35px;
    }

    .recherche-button{
        display: flex;
        padding: 20px;
    }


    .recherche-button i.fa-solid.fa-magnifying-glass{
        color:white
    }


    .btn-recherche {
      display: none;
    }

    .accroche-page {
        padding-top: 30px;
        padding-left: 20px;
        font-size: 18px;
    }

    .accroche-page h2{
        margin-bottom: 8px;
    }

    .accroche-page p{
        margin-top:0px;
        margin-bottom:0px
    }

    .filtres h3{
        padding-left: 17px;
        padding-bottom: 20px;
    }

    .btnContainer{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .btnContainer button{
        display: flex;
        width: 45% ;
        margin: 5px;
    }

    .infos{
        display: flex;
        flex-wrap: nowrap;
        padding-top:25px;
        padding-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
        align-items: center;
    }

    .infos i.fa-solid.fa-info{
        height: 13px;
        width: 13px;
        border-width: 1px;
        padding: 7px
    }

     .hebergements-and-populaires .hebergements{
        display: flex;
        border-radius: 0px 0px 0px 0px;
        padding: 15px 0px;
    }

    .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
        
    }
    
    .populaires{
        display: flex;
        flex-direction: column;
        background-color: var(--main-bg-color);
    }

    .populaires-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards a{
        width: 100%;
    }


    .hebergements{
        background-color:white;
        padding: 0px;
    }

    .hebergements-and-populaires .hebergements .hebergement-marseille{
        flex-direction: column;
        width: 88%;
        margin: 0 auto;
        align-items: center;
        display: flex;
    }

    .hebergements h2{
        display: flex;
        padding-left:20px;
        margin-bottom:15px ;

    }
    .marseille{
        display: flex;
        width: 100%;
        box-shadow: 1px 2px 14px -1px rgba(168,168,168,1)
    }

    .btnmore{
        margin: 0px;
        padding-left: 20px;
    }

    .activitymarseille h2{
        margin-left: 17px;
        margin-top:50px;
    }
    .activity{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    
    .activitymarseille{
        margin: 0px;
    }
    
    .cardactivitemarseille{
        display: flex;
        border-radius: 20px;
        padding: 5px;
        width: 88%;
        flex-direction: row;
        height: 210px;
    }

    .cardactivitemarseille img{
        display:flex;
        object-fit:cover;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        height: 137px;
        width: 100%;    
    }

    .cardconteiner{
        height: 60px;
        align-items: flex-end;
}

.activitymarseille h3{
    padding:30px;
    padding-bottom: 15px;
    font-size: 16px;
}

    footer{
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 30px;
        margin-top: 100px;
    }

    .recherche-button input{
        width: 70%;
    }
}



.btnContainer {
    display: flex;
    width: 100%;
}

.loupe {
  display: none;
}